:root {
  --primary-black: #080808;
  /* --primary-black-transparent: #080808a4; */
  --primary-black-transparent: #080808ed;
  --secondary-brightred: #ff0000;
  --secondary-darkred: #920000;
  --white: #fff;
  --grey: #ababab;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%; /*sets font size to 10px */
}

body {
  background: var(--primary-black);
  color: var(--white);
  font-size: 2rem;
}

#background {
  width: 100%;
  height: 90svh;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
}

.background-img {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
}

#typedtext {
  padding: 0 10%;
  /* font-size: 64px; */
  font-size: 6rem;
  box-sizing: border-box;
  text-shadow: 0 0 1.2rem var(--white);
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#cursor {
  animation: blink 1s steps(1) infinite;
}

/* #header {
  border: 1px solid red;
} */

.container-header {
  padding: 0 10%;
  background-color: var(--primary-black-transparent);
  /* border: 1px solid blue; */
  position: sticky;
  top: 0;
  z-index: 3;
}

.container-header.sticking {
  background-color: #0d0d0d;
  transition: background-color 500ms;
}

.container {
  padding: 2rem 10%;
  padding-bottom: 10rem;
  padding-top: 19rem;
  /* border: 1px solid blue; */
  background-color: var(--primary-black);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 50rem;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.8rem;
  position: relative;
}

nav ul li a::after {
  content: ' ';
  width: 0;
  height: 3px;
  background: var(--secondary-brightred);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  /* border: 1px solid red; */
  padding-top: 10rem;
}

/*--------About--------*/
#about {
  /* border: 1px solid red;*/
  color: var(--grey);
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 30%;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 4rem;
  font-weight: 600;
  color: var(--white);
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: var(--secondary-brightred);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.3s;
}

.tab-links.active-link::after {
  width: 100%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: var(--secondary-darkred);
  font-size: 1.3rem;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

.list ul li {
  list-style: disc;
  margin-left: 20px;
}

/*--------Portfolio--------*/

#portfolio {
  padding-bottom: 500px; /*footer WIP*/
  background: var(--primary-black);
  /*padding: 10px 0; */
}
.work-list {
  /*border: 1px solid green;*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.work {
  /*border: 1px solid blue;*/
  border-radius: 1.5rem;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  /* border-radius: 10px; */
  /* display: block; */
  transition: transform 0.3s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), var(--secondary-brightred));
  /* border-radius: 1.5rem; */
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 3rem;
  text-align: center;
  font-size: 1.4rem;
  transition: height 0.5s;
}

.description {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--grey);
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: var(--secondary-brightred);
  text-decoration: none;
  /* font-size: 1.8rem; */
  line-height: 4.5rem;
  background: var(--white);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

/*
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid var(--secondary-brightred);
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: var(--white);
}

.btn:hover {
  cursor: pointer;
  background: var(--secondary-brightred);
  transition: 0.3s;
}
*/

nav .fas {
  display: none;
}
/*--------Small Screen Responsiveness--------*/
/* @media only screen and (max-device-width: 990px) { */
@media only screen and (max-width: 990px) {
  .logo {
    width: 70%;
    /* border: 1px solid red; */
  }
  #typedtext {
    font-size: 4.5rem;
    /* font-size: clamp(2rem, 1rem + 10vw, 5rem); */
    /* border: 1px solid red; */
  }
  .container {
    padding-top: 130px;
  }
  #portfolio {
    padding-bottom: 100px; /*footer WIP*/
    background: var(--primary-black);
    /*padding: 10px 0; */
  }

  nav .fas {
    display: block;
    font-size: 2.5rem;
  }
  nav ul {
    background: var(--primary-black);
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.3s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
    /* border: 1px solid blueviolet; */
  }
  .about-col-1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .about-col-2 {
    /* font-size: 1.4rem; */
    /* border: 1px solid blueviolet;*/
    padding: 10px 0;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 30px;
  }
  .work-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-device-width: 990px) and (orientation: landscape) {
  .header-text {
    padding-top: 30px;
    /* border: 1px solid green; */
  }
  /* .container-header {
    border: 1px solid blue;
  } */
}
